@model IEnumerable<SAG2.Models.DepositoPlazo>
@{
    Layout = "~/Views/Shared/PopUp.cshtml";
    ViewBag.Title = "Depósitos a plazo";
}
<div class="top" style="height: 28px;">Buscar: <input type="text" id="busqueda" />&nbsp;&nbsp;</div>
 <div id="contenido_popup">
        <table cellpadding="5" border="1" align="center">
    <tr>
    <th class="controles"></th>
        <th>
            F. Despósito
        </th>
        <th>
            F. Vencimiento
        </th>
        <th>
            Cta. Cte.
        </th>
        <th>
            Banco
        </th>
        <th>
            Monto $
        </th>
        <th>
            Interés % 
        </th>
        <th>
            Intereses $
        </th>
        <th>
            Monto a pagar $
        </th>
        <th>
            Nº Despósito
        </th>
        
    </tr>

@foreach (var item in Model)
{
    <tr>
    <td>
            <a href="@Url.Action("Edit", "DepositoPlazo", new { id = item.ID })" title="Seleccionar" onclick="window.opener.document.location=this.href; window.close();"><img src="@Url.Content("~/Content/Images/Badge-tick.png")" alt="Seleccionar" width="15" height="15" style="border: 0;" /></a>
        </td>
        <td>
            @item.FechaDeposito.ToShortDateString()
        </td>
        <td>
            @item.FechaVencimiento.ToShortDateString()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CuentaCorriente.Numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CuentaCorriente.Banco.NombreLista)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monto)
        </td>
        <td>
            @item.Interes.Value
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Intereses)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MontoFinal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroComprobante)
        </td>
        
    </tr>
    }
    </table>
</div>