@model IEnumerable<SAG2.Models.DeudaPendiente>
@{
    Layout = "~/Views/Shared/PopUp.cshtml";
    ViewBag.Title = "Deudas pendientes";
}
<div class="top" style="height: 28px;">Buscar: <input type="text" id="busqueda" />&nbsp;&nbsp;</div>
 <div id="contenido_popup">
   <table cellpadding="5" border="1" align="center">
    <tr>
    <th class="controles"></th>
        <th>Nº Comprobante</th>
        <th>Fecha</th>
        <th>Proveedor/Beneficiario</th>
        <th>Documento</th>
        <th>Nº Doc.</th>
        <th>Emisión</th>
        <th>Vencimiento</th>
        <th>Monto $</th>
    </tr>

@foreach (var item in Model)
{
    <tr>
    <td>
            <a href="@Url.Action("Edit", "DeudasPendientes", new { id = item.ID })" title="Seleccionar" onclick="window.opener.document.location=this.href; window.close();"><img src="@Url.Content("~/Content/Images/Badge-tick.png")" alt="Seleccionar" width="15" height="15" style="border: 0;" /></a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroComprobante)
        </td>
        <td>
            @item.Fecha.ToShortDateString()
        </td>
        <td>
        @if (item.Persona != null)
        {
            @Html.DisplayFor(modelItem => item.Persona.NombreLista)
        }
        else if (item.Proveedor != null)
        {
            @Html.DisplayFor(modelItem => item.Proveedor.NombreLista)
        }
        else
        { 
            @Html.Raw(@item.Rut+"-"+@item.DV+" " + @item.Beneficiario)
        }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Documento.NombreLista)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroDocumento)
        </td>
        <td>
            @item.FechaEmision.ToShortDateString()
        </td>
        <td>
            @item.FechaVencimiento.ToShortDateString()
        </td>       
        <td>
            @Html.DisplayFor(modelItem => item.Monto)
        </td>
    </tr>
}
        </table>
    </div>